<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "icon" type = "png" href = "/img/weather.png">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <div class = "about-main">
        <p>This site was created by Dinesh Kundu. It uses data from mapbox.com and weatherstack.com!</p>
        <img id = "robot" src = "/img/robot.png" alt = "robot">
    </div>
    {{>footer}}
</body>
</html>