* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #0000ff;
    font-size: 45px;
}

body {
    height: 100vh;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 17%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.nav-links a {
    text-decoration: none;
    color: #8a2be2;
}

.nav-links a:hover {
    color: #ff0000;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25%;
    width: 100%;
}

.weather-form {
    height: 17%;
    width: 300px;
}

button {
    height: 100%;
    width: 22%;
    cursor: pointer;
}

input {
    width: 75%;
    height: 100%;
    padding-left: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888888;
    width: 100%;
    height: 10%;
    font-size: 19px;
    border-top: 2px solid #c0baba;
}

#robot {
    width: 300px;
}